@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

body {
  height: 100vh;
  background-color: var(--red) !important;
}

:root {
  --red: #a61c3c;
  --dark: #1d1a05;
  --light: #fffdd0;
}

.App {
  text-align: center;
  vertical-align: middle;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: var(--light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.leftalign {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: 15px;
  font-style: normal;
}

.rightalign {
  flex: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  font-size: 15px;
  font-style: normal;
  margin: auto;
}

.flexcol {
  display: flex;
}

.submitbtn {
  width: 45%;
  font-size: 12px !important;
  margin-left: 2px;
}

.border1 {
  border: 2px solid black;
  border-radius: 5px;
  max-height: 80px;
}

.navbar-brand {
  border: solid 2px #fffdd0;
  border-radius: 50px;
}

.me-auto {
  color: #fffdd0 !important;
  font-style: italic;
}

.nav-link {
  color: #fffdd0 !important;
}

#basic-navbar-nav {
  background-color: #1d1a05 !important;
}

#resName {
  color: #fffdd0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 30px;
  border: none;
}

.navbar {
  background-color: #1d1a05;
  position: sticky;
  width: 100%;
  z-index: 1;
  top: 0;
}

.container button {
  background: #fffdd0;
}

.m2 {
  font-family: "Courgette", cursive;
  padding-left: 10px;
  font-size: 25px;
  padding-top: 5px;
}

.cardholder {
  margin-left: 10px;
  display: flex;
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

.home_main {
  font-family: "Bree Serif", serif;
  background-color: #fffdd0;
}

.trending {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  margin-bottom: 10px !important;
}

.cuisine_home {
  color: #fffdd0;
  background-color: #a61c3c;
  padding: 5px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.cuisinepage {
  font-family: "Sawarabi Gothic", sans-serif;
  background-color: #fffdd0;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  min-height: calc(100% - 211px);
}

.recent_orders {
  background-color: var(--red);
}

.recent_orders > div {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--light);
  margin-left: 40px;
  overflow: hidden;
}

.categories {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  padding-top: 20px;
  width: 100%;
  text-align-last: center;
  position: sticky;
  box-sizing: border-box;
  text-align: justify;
  top: 0;
  padding: 5px;
  background-color: #fffdd0;
  z-index: 2;
}

.categories > button {
  position: sticky;
  margin-left: 5px;
  color: #fffdd0 !important;
  background-color: #a61c3c;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 2px 2px 0 #1d1a05;
}

.categories > button:active {
  background-color: #7f162f;
  transform: translateY(5px);
}

.categories > button:focus,
.categories > button:hover {
  background-color: #621224;
  box-shadow: none;
}

.categories button:active:focus {
  box-shadow: none;
}

.floatingcat {
  display: flex;
  justify-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.cuisines {
  color: #fffdd0;
  display: flex;
  flex-wrap: nowrap;
  background-color: #a61c3c;
  border-radius: 20px;
  margin-top: 5px;
  /* margin-bottom: 5px; */
  padding: 10px;
}

.temporary {
  height: 10px;
  background-color: var(--light);
  position: absolute;
  width: 100%;
}

.homephoto {
  height: 20vw;
  object-fit: cover;
  background-position: 0px;
  background-size: 400px;
  border-radius: 10px;
  margin: 10px;
  color: var(--light);
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* font-size: 15px; */
  font-size: medium;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex: 50%;
}

.cuisinesphoto {
  flex: 40%;
  text-align: center;
  max-height: 200px;
}

.cuisinesphoto button {
  background-color: var(--light);
  color: var(--dark);
  box-shadow: 3px 3px 0px var(--dark);
  border: var(--light);
}

.cuisinesphoto button:focus:active,
.cuisinesphoto button:focus,
.cuisinesphoto button:active,
.cuisinesphoto button:hover {
  background-color: #c8c7aa;
  color: black;
}

.cuisinesphoto img {
  object-fit: cover;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.vegsym {
  height: 15px;
  width: auto;
}

.vegsym1 {
  margin-left: 5px;
  padding: 2px;
  border: 1px solid green;
  border-radius: 5px;
  color: white;
  background-color: green;
  font-size: 10px;
}

.reviewfont {
  font-size: small;
  margin-bottom: 10px;
}

.itemname {
  font-weight: 500;
  font-size: large;
}

.cuisineitems {
  flex: 60%;
  margin-left: 10px;
}

.rightsided {
  float: right;
  font-size: 10px;
}

.individualcard {
  background-color: #fffdd0;
  position: sticky;
  bottom: 0;
  border: 1px solid gray;
  box-shadow: 0px -2px 10px;
  padding: 3px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.individualcard button {
  background-color: #a61c3c;
}

.individualdiv{
  padding-bottom: 1pxca;
}

.nextbtn {
  width: 100%;
}

.addbtn {
  position: absolute;
  right: 0;
  bottom: 0px;
  margin-right: 10px;
  border-radius: 32px !important;
  width: 40%;
}

.addbtn1 {
  margin: auto;
}

.additemdiv {
  position: relative;
}

.leftplus {
  border: 1px solid black;
  border-right: 0px;
  margin-left: 10px;
  padding: 5px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: large;
  display: inline-block;
  width: 40px;
  font-weight: 500;
  border: solid 1px var(--dark) !important;
  text-align: center;
  background-color: var(--light);
  color: var(--dark);
  box-shadow: 3px 3px 0px var(--dark);
  border: var(--light);
}

.leftplus:focus:active,
.leftplus:focus,
.leftplus:active,
.leftplus:hover {
  background-color: #c8c7aa;
  color: black;
}

.rightminus:focus:active,
.rightminus:focus,
.rightminus:active,
.rightminuss:hover {
  background-color: #c8c7aa;
  color: black;
}

.quantity {
  padding: 5px;
  font-size: large;
  display: inline-block;
  width: 40px;
  text-align: center;
  border-radius: 0.375rem;
}

.rightminus {
  border: 1px solid black;
  padding: 5px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: large;
  display: inline-block;
  width: 40px;
  border: solid 1px var(--dark) !important;
  font-weight: 500 !important;
  text-align: center;
  background-color: var(--light);
  color: var(--dark) !important;
  box-shadow: 3px 3px 0px var(--dark);
  border: var(--light);
}

.leftplus1 {
  margin-left: 10px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: smaller;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-weight: 500;
  text-align: center;
  background-color: var(--light);
  color: var(--dark) !important;
  box-shadow: 3px 3px 0px var(--dark);
  border: var(--light);
}

.quantity1 {
  border: 1px solid black;
  /* padding: 5px; */
  font-size: smaller;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}

.rightminus1 {
  border: 1px solid black;
  /* padding: 5px; */
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: smaller;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-left: 0px;
  font-weight: 500;
  text-align: center;
}

.sendtokitchen {
  border-radius: 32px !important;
  width: 90vw;
  margin: auto;
}

.desc {
  width: 100%;
  border-radius: 20px;
  height: 60px;
  resize: none;
  padding: 10px;
}

.getotp {
  font-size: 12px !important;
  display: block;
  background-color: lightgray;
  border-radius: 10px;
  margin-bottom: 10px !important;
  padding: 8px;
  width: 80%;
  margin: auto;
}

.separateorder {
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(214, 214, 214);
  padding: 10px;
}

.separateimage {
  text-align: center;
  border-radius: 20px;
  object-fit: cover;
  display: flex;
}

.separateimage img {
  max-height: fit-content;
  width: 75vw;
  display: block;
  margin: auto;
  max-width: 350px;
  border-radius: 20px;
}

.separatedesc {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
}

.addons {
  vertical-align: middle;
}

.registerimg {
  border-radius: 30pc;
  height: 300px;
  margin-top: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  size: 1vh;
  height: 100vh;
  align-items: center;
}

.loader > img {
  height: 23vh;
}

.tableno {
  font-family: "Courgette";
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #1d1a05;
  color: #fffdd0;
  padding: 20px;
}

.cardbill {
  width: 48%;
  margin-bottom: 10px;
}

.carditem {
  display: flex;
  flex-wrap: wrap;
  flex: 50%;
  justify-content: space-around;
}

.individualordercard {
  border-radius: 20px !important;
  overflow: hidden;
  /* margin-bottom: 25px !important; */
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: var(--light) !important;
  color: var(--dark);
}
.list-group-flush > .list-group-item {
  border-width: 0 0 var(--bs-list-group-border-width);
  background-color: var(--light);
}
@media screen and (min-width: 768px) {
  .cardbill {
    width: 30%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
